body {

    background-image: url("https://images.unsplash.com/photo-1508615121316-fe792af62a63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main {
    /* border: 1px solid red; */
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}


.heading{
    /* border: 1px solid blue; */
    display: flex;
    height: 10%;
}

.gameground, .winnerwindow{
    border: 1px solid red;
    display: flex;
    height: 90%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.gameground.hidden {
    display:none 
}

.board{
    display: grid;
    /* border: 1px solid rgb(0, 0, 0); */
    width: 20rem;
    height: 20rem;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: repeat(3, calc(100%/3));
}



#playingtext{
    /* border: 1px solid black; */
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 25px;
}

[id^="square_"]{
    display: flex;
    border: 1px solid rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
    font-size: 7rem;

}


#r_button{

    margin-top: 3rem;
    width: 10rem;
    height: auto;
    font-size: 20px;
}


/* ---------------------Winner----------------------- */

.container {
    display: flex;
    border: 1px solid yellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    height: 80%;
    gap: 4rem;
}

.btn.btn-success {
    font-size: 20px;
}

.winnerwindow.hidden{
    display:none 
}